pre {
  color: #ffffff;
  width: 1000px;
  font-family: "JetBrains Mono", monospace !important;

  code {
    line-height: 1.75;
    font-family: "JetBrains Mono Nerd Font", monospace;
  }
}
.cm-gutter {
  align-items: center;
  justify-content: center;
}

._codeMirrorWrapper_uazmk_391 {
  font-family: "JetBrains Mono", monospace;
}

span {
  font-family: "JetBrains Mono", monospace !important;
}

._toolbarRoot_uazmk_160 {
  top: 80px !important;
}
.tiptap.ProseMirror code {
    background-color: var(--tt-inline-code-bg-color);
    color: var(--tt-inline-code-text-color);
    border: 1px solid var(--tt-inline-code-border-color);
    border-radius: 6px / .375rem;
    padding: .1em .2em;
    font-family: JetBrains Mono NL, monospace;
    font-size: .875em;
    line-height: 1.4;
}